# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
cvenv
ENV/
cvenv

# OS files
.DS_Store
Thumbs.db

# LiveKit logs
livekit_error.txt
security_threats.log

# DB Buffers
nodes_buffer.json

# Keys (Optional but safe to gitignore if you want to keep them local)
# config.js  <-- Don't ignore this if you need it for the site to work
# settings.js
