integra-ai.duckdns.org {
    reverse_proxy integra-backend:8000 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }

    header {
        # غيرنا الدومين هنا ليتطابق مع رابط موقعك الحالي في فيرسيل
        Access-Control-Allow-Origin "https://integra-pro-puce.vercel.app"
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With, Accept, Origin"
        Access-Control-Allow-Credentials "true"
        defer
    }

    # معالجة طلبات الـ OPTIONS (البريفلايت)
    @options {
        method OPTIONS
    }
    respond @options 204
}